<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Law&People 로그인</title>
</head>
<body>
  <section id="login">
    <h2> 로그인</h2>
    <ul>
      <form action="/local-login" method="POST">
        <li><input type="text" placeholder="아이디" title="아이디입력" name="id" value='<%=id%>'></li>
        <%if(idnull) {%>
        <li><%=idnull%></li>
        <%}%>
        <li><input type="password" placeholder="비밀번호" title="비밀번호입력" name="pw" value='<%=pw%>' id='password'></li>
        <%if(pwnull) {%>
        <li><%=pwnull%></li>
        <%}%>
        <%if(mismatch) {%>
        <li><%=mismatch%></li>
        <%}%>
        <li><input type="checkbox" id="chk_id" value="true" name="lawyer"><label for="chk_id">변호사면 체크</label></li>
        <script>
          var lawyer = '<%=lawyer%>'
          if(lawyer === 'true') {
            document.getElementById('chk_id').checked = true;
          }
        </script>
        <li id="login_button">
            <button>로그인</button>
        </li>
      </form>
    </ul>
    <div>
      <ul>
      <li><a href="./join">회원가입</a></li>
      <li><a href="">아이디 찾기</a></li>
      <li><a href="">비밀번호 찾기</a></li>
      </ul>
      <p><a href="/kakao-login">카카오계정으로 로그인</a></p>
      <p><a href="/google-login">구글계정으로 로그인</a></p>
    </div>
  </section>
</body>
</html>